@font-face {
    font-family: 'Title';
    src: url('./titles.ttf');
}

@font-face {
    font-family: 'Body';
    src: url('./RobotoReg.ttf');
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #4ade80;
    padding: 3rem 0;
    box-shadow: 0 4px 4px -1px gray;
}

#title {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    font-family: 'Title';
    font-size: 35px;
}

#new-proj {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    background-color: white;
    padding: 7px 18px;
    text-decoration: none;
    border-radius: 12px;
    font-family: 'Body';
    font-size: 15px;
    color: black;
}

main {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 3fr;
    height: 610px;
    overflow: scroll;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
    box-shadow: inset 0px 4px 4px -1px gray;
}

#sb-title {
    margin: 20px auto;
    font-family: 'Title';
    font-size: 20px;
}

#sb-projcol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sb-row {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    font-family: 'Title';
    font-size: 20px;
    padding-bottom: 2px;
    border-bottom: 1px #94a3b8 solid;
}

.sb-img {
    height: 25px;
    width: 25px;
}

.sb-row a {
    visibility: hidden;
}

.sb-row:hover a {
    visibility: visible;
}

#menu-title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-family: 'Title';
    font-size: 25px;
}

#project > label {
    font-family: 'Title';
    font-size: 15px;
}

#project > input, textarea {
    margin-bottom: 5px;
    font-family: 'Body';
}

#np-menu {
    display: none;
    position: fixed;
    left: 40%;
    top: 25%;
    background-color: rgba(229, 229, 229, 1);
    padding: 30px;
    width: 350px;
    border: #4ade80 2px solid;
    border-radius: 8px;
}

#form-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#submit-menu {
    background-color: #4ade80;
    border: none;
}

#close-menu {
    background-color: #ef4444;
}

#close-menu, #submit-menu {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-family: 'Body';
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#proj-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.33fr));
    grid-template-rows: repeat(auto-fit, minmax(30px, 100px));
    gap: 1.5rem 2.5rem;
    margin: 1rem;
}

.proj-tile {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    border: #4ade80 2px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    padding: 15px 30px 17px 15px;
}

.tile-title {
    font-family: 'Title';
}

.tile-descrip {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: scroll;
    font-family: 'Body';
    font-size: 15px;
}

.tile-date {
    font-family: 'Body';
    font-size: 15px;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.arrow-btn {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

#back-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 15px;
    left: 26%;
    text-decoration: none;
    color: black;
    font-family: 'Body';
    font-size: 15px;
    font-weight: 700;
}

#back-btn:hover {
    color: #4ade80;
}

.arrow-img, #td-img, #back-img, .delete-img {
    width: 20px;
    height: 20px;
}

#td-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: 10% auto 10% auto;
    padding: 2rem;
    border: #4ade80 2px solid;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
}

#td-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Title';
}

#summary, #td-date, #td-notes, #td-div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#td-div {
    flex: 1;
}

#summ-title, #date-title, #notes-title,
#todo-title {
    font-family: 'Title';
}

#summ-text, #date-text, #notes-text {
    font-family: 'Body';
    font-size: 15px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
}

#todo-title {
    display: flex;
    gap: 5px;
}

#td-form {
    display: flex;
    gap: 5px;
    font-family: 'Title';
}

#td-input {
    width: 60%;
}

#td-submit {
    width: max-content;
    padding: 2px 4px;
}

#todo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 3px;
}

.task-row {
    padding: 0.5rem 0 0.5rem 1.5rem;
    font-family: 'Title';
    border-radius: 10px;
    border: 1px #cbd5e1 solid;
    box-shadow: 1px 1px 4px black;
    width: 70%;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0;
    background-color: #4ade80;
    font-family: 'Body';
    font-size: 15px;
}