body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #4ade80;
    padding: 3rem 0;
    box-shadow: 0 4px 4px -1px gray;
}

#title {
    margin-left: 3rem;
    display: flex;
    align-items: center;
}

#new-proj {
    margin-right: 3rem;
    background-color: white;
    padding: 7px 18px;
    text-decoration: none;
    border-radius: 12px;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 610px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
    z-index: -1;
}

#sb-title {
    margin: 20px auto;
}

#sb-projcol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sb-row {
    margin: 0 60px;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 2px;
    border-bottom: 1px #94a3b8 solid;
}

#menu-title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#np-menu {
    display: none;
    position: fixed;
    left: 40%;
    top: 25%;
    background-color: rgba(229, 229, 229, 1);
    padding: 20px;
    border: #4ade80 2px solid;
    border-radius: 8px;
}

#form-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#submit-menu {
    background-color: #4ade80;
    border: none;
}

#close-menu {
    background-color: #ef4444;
}

#close-menu, #submit-menu {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#proj-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.33fr));
    grid-template-rows: repeat(auto-fit, minmax(30px, 100px));
    gap: 1.5rem 2.5rem;
    margin: 1rem;
}

.proj-tile {
    position: relative;
    border: #4ade80 2px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    padding: 15px;
}

.tile-date {
    position: absolute;
    top: 10px;
    right: 10px;
}

.arrow-btn {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.arrow-img {
    width: 20px;
    height: 20px;
}

#td-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
}

#td-title {
    display: flex;
    justify-content: center;
}

#summary {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0;
    background-color: #4ade80;
}