body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #4ade80;
    padding: 3rem 0;
}

#title {
    margin-left: 3rem;
    display: flex;
    align-items: center;
}

#new-proj {
    margin-right: 3rem;
    background-color: white;
    padding: 5px 10px;
}

main {
    margin: auto;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0;
    background-color: #4ade80;
}